body {
  background-color: purple;
}

.background {
  background-color:white

}

h1 {
  color:purple;
  text-align: center;
}

h2 {
  color: black;
  margin-left:2%;
}
a {
  color: white;
}
p{
  color:black;
}

.me{
  text-align: center;
}
.projectImages{
  height:auto;
  width:100%;
}
#nduta{
  margin-left:35%;
  margin-bottom:2%;
}span{
  margin-left: 10%;
}
h5{
  text-align: center;
}
.abby{
  text-align: center;
}
.h5-responsive{
  text-align: left;
  margin:10%;
  color:white
}
#highlight{
  padding:2%;
}
h4{
  text-align: center;
  color:white;
}
.card-title{
  color:black;
}
button{
  color:white;
  background-color: plum;
}
.row{
  margin:3%;
}
#js{
  width:300px;
  height:300px;
}
col-md-3{
  margin:3%;
}
#nduta{
  height:10em;
  width:auto;
}
#contactinfo{
  text-align: center;
}
@media screen and (max-width:768px) {
  [class="container"] {
  width:100%;
  display: block;
  }
}
