body {
  background-color: purple;
}

.background {
  background-color: #DDA0DD;
  }

#list {
  background-color: #D8BFD8;
}

h1 {
  color: white;
}

h2 {
  color: black;
}

em {
  font-weight: bold;
  color: black;
  font-family: sans-serif;
}

a {
  color: white;
}

ul {
  color: white;
}

.border2 {
  margin-top: 0px;
  padding: 10px;
  border: 5px;
  background-color: black;
}

ul {
  line-height: 20px;
}

.border1 {
  margin-bottom: 0px;
  padding: 10px;
  border: 10px;
  background-color: black;
}

#center {
  text-align: center;
  list-style-position: inside;
}

.container {
  display:table-column-group;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.column1 {
  float: left;
  width: 33.33%;
}

#column2 {
  background-color: black;
  width: 33.33%
}

.column3 {
  width: 33.33% float:right;
}
